<h1>Edit artist</h1>
<%= form_for(@artist) do |f| %>
	<%= render 'shared/artist_error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :active_years %><br />
		<%= f.text_field :active_years %>
	</div>
	<div class="field">
		<%= f.label :biography %><br />
		<%= f.text_area :biography, :rows => 2 %>
	</div>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>

<%= link_to 'Show', @artist %> |
<%= link_to 'Back', artists_path %>
